<form class="{{cssClass}} layout layout--special-ability" autocomplete="off" style="font-size: 0.85rem;">

    <div class="layout__picture">
        <img class="profile-img--small" src="{{item.img}}" data-edit="img" title="{{item.name}}">
    </div>

    <header class="layout__header">
        <input class= "header-title header-title--small" type="text" name="name" value="{{item.name}}" placeholder="Name">
    </header>

    <body>
        <div class="layout__body">
            {{#if isBeingEdited}}
            <div class="frame frame--flexible" style="height: 300px">
                <label class="frame__title">Description</label>
                <div contenteditable="true" data-edit="data.description" style="height: 300px">
                    {{formatDisplay data.description}}
                </div>
                <div>
                    <i class="fas fa-save item-edit" style="float: right; font-size: 1.5em; padding: 5px"></i> 
                </div>
            </div>
            {{else}}
            <div class="frame frame--flexible">
                <label class="frame__title">Description</label>
                <div style="padding: 10px 10px">
                    {{formatDisplay data.description}}
                </div>
                <div>
                    <i class="fas fa-edit item-edit" style="float: right; font-size: 1.5em; padding: 5px"></i> 
                </div>
            </div>
            {{/if}}
        </div>
    </body>

</form>