<form class="{{cssClass}} layout layout--wrapper" autocomplete="off" style="will-change: transform">
    
    <!-- HEADER -->
    <header class="layout__header">        
            <!-- MONSTER NAME -->
            <input class= "header-title" name="name" type="text" value="{{actor.name}}" placeholder="Name">
    </header>

    <div class="layout layout--tabbed-container">

        <nav class="functionTabs layout__tabs">
            <a class="item frame__title megaphone drag-target" data-tab="description">Description</a>
            <a class="item frame__title megaphone drag-target" data-tab="statistics">Stats</a>
        </nav>

        <section class="functionContent layout__tabs-content frame">

            <div class="tab" data-tab="description">
                    <div class="layout layout--monster-description" style="padding:5px">
                        
                        <div class="layout__picture" style="align-self: start">
                            <img class="profile-img--big player-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                        </div>
                        
                        <div class="layout__header">

                            <div class="frame frame--flexible frame--can-scroll">

                                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                            </div>
                        </div>
                    </div>
            </div>

            <div class="tab" data-tab="statistics">
                    
                <div class="layout layout--monster-stats">    
                    <!-- ATTRIBUTES -->
                    <div class="layout__body frame" style="margin: 5px;">

                        <div class="table">
                            <div class="table__entry table__entry--4col">
                                {{#each data.attributes as |attObject attName|}}
                                <div class="table__field table__field--NPC-Att drag-item" data-id="{{attName}}" style="max-height: 83px">
                                    <div class="table__entry table__entry--PC-attributes table__padding-lr">
                                        <div class="table__field">
                                            <label class="table__data table__data--name" data-id="{{attName}}" data-action="roll" data-diehook="Attribute" style="text-align: left; font-weight: bold;" >{{attName}}</label>
                                        </div>   
                                        <div class="table__field">
                                            <input class="table__data" type="text" name="data.attributes.{{attName}}.max" value="{{attObject.max}}" data-dtype="Number">
                                        </div>
                                        <div id="{{@key}}" class="table__field">
                                            <div class="table__data" style="max-height: 65px; overflow-y: scroll; padding-top: 2px">
                                                {{#each propertyTrack}}
                                                <img type="image" name="data.attributes.{{attName}}.damage" data-trackvalue="{{@index}}" src="{{this}}" style="border: none; margin: -2px -2px;" alt="X" width="17px" height="17px">
                                                {{/each}}
                                            </div>
                                        </div>
                                        <div class="table__field">
                                            <label class="table__data" type="text" data-dtype="Number">{{attObject.value}}</label>
                                        </div> 
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="table__entry table__entry--4x4">
                                    {{#each data.skills}}
                                    <div class="table__field table__field--4x4border" style="margin: -2px 0">
                                        <div class="table__entry table__entry--skills table__padding-lr drag-item" data-id="{{@key}}">                            
                                            <div class="table__field">
                                                <label class="table__data table__data--name" data-id="{{@key}}" data-action="roll" data-diehook="Skill">{{@key}}</label>
                                            </div>
                                            
                                            <div class="table__field">
                                                <input class="table__data" type="text" name="data.skills.{{@key}}.value" value="{{this.value}}" data-dtype="Number">
                                            </div>
                                            
                                            <div class="table__field">
                                                <label class="table__data">{{this.abbrev}}</label>
                                            </div>
                                            
                                            <div class="table__field">
                                                <label class="table__data">{{this.total}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}      
                            </div>
                        </div>
                    </div>
                
                    <div class="layout__left-sidebar" style="margin-left: 5px;">

                    <!-- SPECIAL ABILITIES -->
                    <div class="frame" style="display: flex; flex:1; flex-direction: column; max-height: 445px">
                        <label class="frame__title">Special Abilities</label>  
                        <!-- <span> <a id = "addSpecialAbility" class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a> </span> -->
                        <div class="table" style="overflow-y: scroll">
                            {{#each data.[Monster Special Ability]}}
                            <div class="table__entry">
                                <div class="table__field">
                                    <div class="table__data" style="text-align: justify; padding:5px 10px">
                                        <span style="font-variant: small-caps; font-weight: bold; color: rgba(207, 0, 15, 1)">{{formatDisplay this.name}}</span> <span> - {{formatDisplay this.data.description}}</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-trash" data-id="{{this._id}}" style="float: right; font-size: 1em; padding: 5px"></i>
                                    </div> 
                                </div>
                            </div>
                            {{/each}}    
                        </div>
                    </div>
                    
                    <!-- ARMOR & MOVEMENT -->
                    <div class="frame frame--no-lr-border layout__gap">
                        <div class="table">                    
                            <div class="table__entry table__entry--mov-arm">

                                <div class="table__field">
                                    <label class="table__data" data-action="roll" data-diehook="Monster-armor">Armor:</label>
                                </div>

                                <div class="table__field">
                                    <input type="text" class="table__data" name="data.armor" value="{{data.armor}}">
                                </div>
                                
                                <div class="empty"></div>
                                
                                <div class="table__field">
                                    <label class="table__data">Movement:</label>
                                </div>
                                
                                <div class="table__field">
                                    <input type="text" class="table__data" name="data.movement" value="{{data.movement}}">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                
                <!-- CENTER-RIGHT MAIN BODY -->
                <div class="layout__right-sidebar" style="margin-right: 5px; overflow-y: scroll;">
                    
                    <!-- MONSTER ATTACKS -->
                    <div class="frame frame--flexible">
                        
                        <label class="frame__title randomAttack" id="test" title="Double click to execute a random attack" data-action="random-attack">Monster Attacks</label>                          
                        
                        <div class="table table--flexible">
                            {{#each data.[Monster Attack]}}
                            <div class="table__entry table__entry--mAttacks drag-item" data-id="{{this._id}}">
                                
                                <div class="table__field table__field--vruler">
                                    <div class="table__data">
                                        <div style="display: inline-block; height: 100%; vertical-align: middle;">
                                            <img src="systems/forbiddenlands/icons/dice/d6_{{@index}}.svg" alt="" data-id="{{this._id}}" data-action="roll" data-diehook="Monster-attack" height="25px" style="vertical-align: middle">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="table__field">
                                    <div class="table__data">
                                        <div class="table__padding-lr" style="text-align: justify"><span style="font-variant: small-caps; font-weight: bold; color: rgba(207, 0, 15, 1)">{{formatDisplay this.name}}!</span> <span> - {{formatDisplay this.data.description}}</span></div>
                                    </div>
                                    <div>
                                        <i class="fas fa-trash" data-id="{{this._id}}" style="float: right; font-size: 1em; padding: 5px"></i> 
                                    </div>                            
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>