/* ------------------------- --NEW FONTS -------------------------*/

@font-face {
    font-family: "IM Fell DW Pica Roman";
    src: url('../fonts/FePIrm2.ttf');
  }


  @font-face {
    font-family: "IM Fell DW Pica SC";
    src: url('../fonts/FePIsc2.ttf');
  }

  @font-face {
    font-family: "IM Fell Great Primer Roman";
    src: url('../fonts/IMFeGPrm28P.ttf');
  }
/* -------------------------- GLOBAL -------------------------*/

:root {
  --table-font-size: 0.82em;
  /* --table-font-size: 0.75rem; */
  --frame-title-font-size: 1.1em;
  --frame-color: rgba(0, 0, 0, 1);
  --frame-border: 1px solid var(--frame-color);
  --title-background-color: rgba(0, 0, 0, 0.8);
  --title-color: rgba(255, 255, 255, 1);
  --input-field-background-color: rgba(0, 0, 0, 0.1);
  --negative-effect: rgba(207, 0, 15, 1);
  box-sizing: border-box;
}

.fbl .window-content, #chat-log .message, .dialog .window-content {
  /* font-family: "IM Fell DW Pica Roman"; */
  font-family: "IM Fell DW Pica Roman";
  background-image: radial-gradient(rgba(255, 255, 240, 0.2), rgba(255, 255, 240, 0.4)), url("/systems/forbiddenlands/icons/paper_bright.jpg");
  font-size: var(--table-font-size);
  color: black;
  text-align: justify;
  min-height: fit-content;
  /* make sure any refreshed window is resized to match its content.
  Needed when transitioning from the "edit" version of a sheet to the "display" version. */
  padding: 10px;
  overflow-y: hidden;
}

#chat-log .message {
  font-size: 0.85rem;
}

.fbl .fas:hover,
.fbl [data-action="roll"]:hover,
.fbl [data-action="random-attack"]:hover {
  text-shadow: 0 0 7px darkorange, 0 0 7px orange;
}

.fbl [data-dieHook="Monster-attack"]:hover {
  box-shadow: 0 0 7px darkorange, 0 0 7px orange;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background-repeat: no-repeat;
}

progress::-webkit-progress-bar {
background-color: transparent;
border-radius: 2px;
/* box-shadow: rgba(255, 255, 240, 0.1); */
}

progress::-webkit-progress-value {
-webkit-appearance: none;
background-image:   linear-gradient(to right, white,  white 157.6px, var(--negative-effect) 368px),
                    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));    
border-radius: 2px;
/* color: black; */
}

/* .fbl ::-webkit-scrollbar {
  display: none;
} */

/* --------------------------- RESETS ----------------------------*/

.window-app ul {
  list-style: none;
}

.window-app img {
  margin: 0;
  padding: 0;
}

.window-app li:before {
  margin-left: -15px;
  content: "\2725"
}
/* --------------------------- LAYOUT ----------------------------*/
/*  Layout classes have the responsibility of defining the Sheet layout and to implement it

    .layout                     - grid wrapper
    .layout--"sheetEntityName"  - specific Sheet layout implementation
    .layout__"elementName"      - place the nested DOM elements on the grid according to
                                  functionality: profile picture, header, sidebar, main body, etc.
*/

.layout {
    /* padding: 5px; */
    box-sizing: border-box;
    margin: auto;
    display: grid;
    gap: 1%;
    flex: 1;
    /* border: 3px dashed red; */
}

.layout__gap {
  margin-top: 10px;
  flex: 1;
}

.layout__gap--large {
  margin-top: 20px;
}

.layout--PC {
  grid-template-areas: "graphics header header"
                       "left-sidebar body right-sidebar";
  grid-template-columns: 215px 460px 215px;
  grid-template-rows: 215px 713px;
  min-width: 910px;
  /* min-height: fit-content; */
  /* border: 3px dashed purple; */
}

.layout--monster {
  grid-template-areas: "graphics header"
                       "left-sidebar body";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 250px 1fr;
  min-width: 880px;
  max-width: 880px;
  max-height: 963px;
  /* border: 3px dashed purple; */
}

.layout--NPC {
  grid-template-areas: "graphics header"
                       "body body";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  min-width: 880px;
  max-width: 880px;
  max-height: 963px;
  /* border: 3px dashed purple; */
}

.layout--special-ability,
.layout--monster-attack,
.layout--talent,
.layout--spell-edit,
.layout--equipment {
  grid-template-areas: "graphics header"
                       "body body";
  grid-template-columns: 75px 1fr;
  grid-template-rows: 75px 1fr;
  min-width: 450px;
  max-width: 750px;
  /* border: 3px dashed purple; */
}

.layout--spell-display {
  grid-template-areas: "header"
                        "body";
  min-width: 450px;
  max-width: 750px;
  /* border: 3px dashed purple; */
}

.layout--PC-inventory {
  width: 98.25%;
  height: 100%;
  padding: 0;
  margin: 0;
  grid-template-rows: 1fr 140px 20px;
}

.layout__picture {
  grid-area: graphics;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  justify-content: center;
  /* border: 3px dashed goldenrod; */
}

.layout__header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  /* border: 3px dashed rosybrown; */
}

.layout__left-sidebar {
  grid-area: left-sidebar;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  /* border: 3px dashed royalblue; */
}

.layout__right-sidebar {
  grid-area: right-sidebar;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  /* border: 3px dashed royalblue; */
}

.layout__body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  /* border: 3px dashed salmon; */
}

/* --------------------------- PROFILE IMAGE ----------------------------*/

.profile-img {
  /* height:100%;
  width: 100%; */
  margin: auto;
  flex: 0;
}

.profile-img--big {
  height:100%;
  width: 100%;
  margin: auto;
  flex: 0;
}

.profile-img--small {
  height: 60px;
  width: 60px;
  flex: 0;
  align-self: center;
  /* background-color: salmon; */
}

/* --------------------------- Frame ----------------------------*/
/*    Generic frame with borders and rounded corners

      .frame                - actual frame
      .frame__content       - position the content inside the wrapper
      .frame__title         - optional title formatting
      .frame--flexible      - makes the frame flexible
      .frame--no-lr-border  - removes the left and right borders
      .frame--no-border     - removes the border 
*/

.frame {
  display: flex;
  flex-direction: column;
  border: var(--frame-border);
  border-radius: 3px;
  flex: 0;
}

.frame__placement {
  padding: 10px;
}

.frame__margin--PC-items {
  margin: 2px 5px;
}

.frame__title {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px 5px;
  font-size: var(--frame-title-font-size);
  text-align: center;
  background-color: var(--title-background-color);
  color: var(--title-color);
  border: 1px solid var(--title-background-color);
  border-bottom: none;
}

.frame--flexible {
  flex: 1;
}

.frame--can-scroll {
  overflow-y: scroll;
}

.frame--no-lr-border {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.frame--no-border {
  border: none;
  /* padding: 10px; */
}

/* --------------------------- HEADER TITLE ----------------------------*/
/*     Sheet title

       .header-title                - styling for the header title
       .header-title--small         - small version for smaller sheets
*/

 input[type="text"].header-title {
  width: 100%;
  font-size: 1.7em;
  height: 40px;
  border: var(--frame-border);
  padding: 0 5px;
  /* background-color: var(--input-field-background-color); */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  align-self: center;
  margin: auto;
  text-align: start;
}

input[type="text"].header-title--small {
font-size: 1.5em;
height: 35px;
}

/* --------------------------- TinyMCE EDITOR ----------------------------*/
/*  Styling for the TinyMCE editor.

    NB: the default TinyMCE HTML editor implementation via Handlebars reserves "editor" and "editor-content"
    as class names for the TinyMCE editor wrapper and body respectively.
    While the naming convention doesn't comply with the BEM standard used in the rest
    of this CSS, I believe it's not worth to redefine the Handlebars template just to
    make it compliant.

    .editor           - styles the TinyMCE editor wrapper implementation via Handlebars
    .editor-content   - styles the TinyMCE editor body
*/

.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 2px dashed red; */
}

.editor-content {
  padding: 5px 10px;
  flex: 1;
  /* border: 3px dotted blue; */
}

/* --------------------------- TABLE ----------------------------*/
/*  Stylings for any kind of tabular-looking table UI.

    .table                          - block wrapper
    .table__entry                   - an entry (row) in the table UI
        .table__entry--attributes   - attributes display (2 fields: attribute - value)
        .table__entry--skills       - skills display (4 fields: skill - score - linked attribute - total)
        .table__entry--mAttacks     - monster attacks section of the monster sheet display
                                      (2 fields: dice icon - description)
        .table__entry--attack-stats - monster attacks stats display of the Monster Attacks item sheet 
                                      (4 fields: dice - damage - damage type - range) 
    .table__field                   - table cell, the container for .table__data
    .table__data                    - the actual content of a table cell    
    .table__title                   - table header and title. Applied to a .table__entry
    .table__data--name              - modify the look of the first column of a table
*/

.table {
  display: grid;
  grid-template-columns: 100%;
  /* grid-auto-rows: auto; */
  /* border: 2px dashed red; */
}

.table--flexible {
  flex: 1 1 auto;
}

.table__padding {
  padding: 3px;
}
.table__padding-lr {
  padding: 0 10px;
}

.table_padding-tb {
  padding: 10px 0;
}

.table__title {
  background-color: var(--title-background-color);
  color: var(--title-color);
  font-size: 1.1em;
  height: min-content;
}

.table__entry,
.table__entry--no-border {
  display: grid;
  /* grid-auto-rows: auto; */
  /* border: 1px dashed red; */
}

.table__entry--2col {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: red; */
}

.table__entry--3col {
  grid-template-columns: repeat(3, 1fr);
}

.table__entry--4col {
  grid-template-columns: repeat(4, 1fr);
}

.table__entry--4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
}

.table__entry--attributes {
  grid-template-columns: 85% 15%;
}

.table__entry--PC-attributes {
  grid-template-columns: 25% 13% 52% 10%;
}

.table__entry--skills {
  grid-template-columns: 4fr 1fr 1fr 1fr;
}

.table__entry--mAttacks {
  grid-template-columns: 15% 85%;
}

.table__entry--attack-stats,
.table__entry--talent-classification {
  /* grid-template-columns: 3fr 1fr 4fr 3fr 1fr;*/
  grid-template-columns: 15% 20% 20% 15% 30%;
}

.table__entry--talent-content {
  grid-template-columns: 2fr 8fr;
}

.table__entry--mov-arm {
  grid-template-columns: 3fr 1fr 4fr 3fr 1fr;
}

.table__entry--spell {
  grid-template-columns: 15% 70% 15%;
}

.table__entry--price {
  grid-template-columns: 15% 15% 70%;
}

.table__entry--equipment-stats {
  grid-template-columns: repeat(5, minmax(75px, 1fr)) minmax(min-content, 2fr);
}

.table__entry--equipment-stats-no-bonus {
  grid-template-columns: repeat(3, minmax(75px, 1fr)) minmax(min-content, 2fr);
}

.table__entry--equipment-crafting {
  grid-template-columns: repeat(4, minmax(75px, 1fr));
}

.table__entry--weapon-features {
  grid-template-columns: 15% repeat(4, 21%);
  justify-content: space-between;
}

.table__entry--weapon-stats {
  grid-template-columns: repeat(5, minmax(75px, 1fr))  minmax(min-content, 3fr);
}

.table__entry--weapon-artifact-stats {
  grid-template-columns: repeat(7, minmax(75px, 1fr)) minmax(min-content, 3fr);
}

.table__entry--weapon-inventory {
  grid-template-columns: repeat(3, minmax(75px, 1fr))
}

.table__entry--armor-stats {
  grid-template-columns: repeat(3, minmax(75px, 1fr));
}

.table__entry--armor-artifact-stats {
  grid-template-columns: repeat(4, minmax(75px, 1fr)) minmax(min-content, 2fr);
}

.table__entry--critical-injury {
  grid-template-columns: repeat(3, minmax(75px, 1fr)) minmax(min-content, 2fr);
}

.table__entry--PC-weapon-display {
  background-color: white;  
  grid-template-columns: 8% 15% 5% 17% 15% 5% 5% 27% 5px;
}

.table__entry--PC-armor-display {
  background-color: white;
  grid-template-columns: 8% 30% 8% 42% 9% 5px; 
}

.table__entry--PC-equip-display {
  background-color: white;
  grid-template-columns: 16% 10% 43% 25% 5px;
  grid-auto-rows: fit-content;
}

.table__entry--PC-willpower {
  grid-template-columns: repeat(10, 10%);
}

.table__entry--consumable {
  grid-template-columns: 50% 30% 20%;
  border: 1px solid black; 
  width: 100%;
  margin: 2px 4px;
  padding: 4px 2px;
  background-color: white;
}

.table__entry--money-pouch {
  grid-template-rows: 80% 20%;
  /* grid-template-rows: 20% 80%; */
  margin: 3px;
  border: 1px solid black;
  background-color: white;
}

.table__entry--encumbrance-meter {
  grid-template-columns: 45px 1fr 45px;
}

.table__entry--PC-injury-display {
  grid-template-columns: 16% 45px 1fr 25px;
  background-color: white;
  color: rgba(207, 0, 15, 1);
  border-color: rgba(207, 0, 15, 1);
}

.table__entry--PC-deadly-injury-display {
  grid-template-columns: 16% 45px 1fr 25px;
  background-color: rgba(207, 0, 15, 1);
  color: white;
  border-color: rgba(207, 0, 15, 1);
}

.table__entry--PC-talent-display {
  grid-template-columns: 16% 1fr 35px 25px;
}
.table__entry--PC-spell-display {
  grid-template-columns: 16% 1fr 16%;
}

.table__field {
  width: 100%;
  padding: 2px 0px;
  border-bottom: var(--frame-border);
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* border: 1px dashed green; */
}

.table__field--4x4border,
.table__field--NPC-Att {
  border-right: var(--frame-border);
}

.table__field--NPC-Att:last-child,
.table__field--4x4border:nth-child(13),
.table__field--4x4border:nth-child(14),
.table__field--4x4border:nth-child(15),
.table__field--4x4border:nth-child(16) {
  border-right: none;
}

/* Adds a vertical border in between table cells */
input[type="text"].table__field--vruler,
.table__field--vruler {
  border-right: var(--frame-border);
}

/* Removes the bottom border under the title and the last table entries */
.table__entry:last-child .table__field,
.table__entry.table__title:first-child .table__field,
.table__entry--no-border .table__field {
  border-bottom: none;
}

.table__data,
input[type="text"].table__data,
textarea.table__data {
  flex: 1;
  text-align: center;
  background-color: transparent;
  border: none;
  /* border: 1px dashed red; */
}

select.table__data {
  background-color: var(--input-field-background-color);
}

.table__data--left-aligned {
  text-align: justify;
}

.table__data--name {
  text-transform: capitalize;
  text-align: left;
}

.table__data--name-bold {
  text-transform: capitalize;
  text-align: left;
  font-weight: bold;
}

.table__data--money-bg {
  background-image: url("/systems/forbiddenlands/icons/equipment/shiny-purse.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.table__data--encumbrance {
  background: url("/systems/forbiddenlands/icons/sheets/feather.svg") 1%/35px no-repeat,
              url("/systems/forbiddenlands/icons/sheets/weight.svg") 99%/35px no-repeat,
              rgba(0, 0, 0, 0.8);
}

.table__data--encumbrance-isEncumbered {
  background: url("/systems/forbiddenlands/icons/sheets/feather.svg") 1%/35px no-repeat,
              url("/systems/forbiddenlands/icons/sheets/weightred.svg") 99%/35px no-repeat,
              rgba(0, 0, 0, 0.8);
}

.table__data--fill-form {
  border-bottom: 1px solid black;
  border-radius: 0;
  text-align: left;
  margin-left: 10px;
}

.table__entry--PC-injury-display {
  background-color: white;
  color: var(--negative-effect);
  border-color: var(--negative-effect);
}

.fbl .tabs .item, .fbl .tabs-modifiers .item {
text-shadow: none;
background-color: lightgrey;
}

.fbl .tabs .item.active, .fbl .tabs-modifiers .item.active {
  text-shadow: none;
  background-color: var(--title-background-color);
}

/* ---------------------------  ----------------------------*/